[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
SQLAlchemy = "*"
PyMySQL = "*"
boto3 = "*"
sklearn = "*"
numpy = "*"
pandas = "*"
pyyaml = "*"
flask = "*"
flask-sqlalchemy = "*"

[dev-packages]
awscli = "*"
ipython = "*"
flake8 = "*"
pytest= "*"
black = "*"
jupyterlab = "*"
ipykernel = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
